body {
    background-image: url('../assets/RedisLabs_Illustration.svg');
    background-color:#F8F8FB;
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: 55vw -9vw;

    @media (max-width: 960px) {
        background-size: 80vw;
        background-position: 26vw -14vw;
    }
}

#app {
    background:none;

    * {
        word-break: normal !important;
    }
}

.subheader {
    max-width: 800px;
    font-size: 110%;
}

.card {
    @media screen and (min-width: 1264px) {
        height: 100%;
    }
}
