body {
    background-image: url('../assets/RedisLabs_Illustration.svg');
    background-color:#F8F8FB;
    background-repeat: no-repeat;
    background-size: 28% auto;
    background-position: 104% -70px;
}

#app {
    background:none;

    * {
        word-break: normal !important;
    }
}

.subheader {
    max-width: 800px;
    font-size: 110%;
}

.card {
    @media screen and (min-width: 1264px) {
        height: 100%;
    }
}
